force-app/main/default/flows/Contract_Billing_Contact_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Contract_Billing_Contact_Change_Notification_FR</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>FR - Send Billing Contact Change Email</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Contract__c.Contract_Billing_Contact_Change_Notification_CF</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Contract_Billing_Contact_Change_Notification_FAS</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>FVA - Send Billing Contact Change Email</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Contract__c.Contract_Billing_Contact_Change_Notification_FAS</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Contract_Billing_Contact_Change_Notification_CF</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>CF - Send Billing Contact Change Email</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Contract__c.Contract_Billing_Contact_Change_Notification_CF</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>FR - Billing Contact Changed?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>FVA - Billing Contact Changed?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>CF - Billing Contact Changed</label>
        </rules>
    </decisions>
    <description>When the Billing Contact changes for a Contract, perform certain activities such as sending email notifications</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(TEXT([Contract__c].Line_of_Business__c) = &apos;FR&apos;,
          ISCHANGED([Contract__c].Billing_Contact__c),
          NOT(ISNULL([Contract__c].Billing_Contact__c)),
          NOT(ISBLANK([Contract__c].Billing_Contact__c)),
          NOT(ISCHANGED([Contract__c].Bill_To__c)),
          NOT(ISNULL([Contract__c].Bill_To__c)),
          [Contract__c].Bill_To__c = [Contract__c].Billing_Contact__c.Account.Id)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(TEXT({!myVariable_current.Line_of_Business__c}) = &apos;FR&apos;,
          ISCHANGED({!myVariable_current.Billing_Contact__c}),
          NOT(ISNULL({!myVariable_current.Billing_Contact__c})),
          NOT(ISBLANK({!myVariable_current.Billing_Contact__c})),
          NOT(ISCHANGED({!myVariable_current.Bill_To__c})),
          NOT(ISNULL({!myVariable_current.Bill_To__c})),
          {!myVariable_current.Bill_To__c} = {!myVariable_current.Billing_Contact__r.Account.Id})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(TEXT([Contract__c].Line_of_Business__c) = &apos;FVA&apos;,
          ISCHANGED([Contract__c].Billing_Contact__c),
          NOT(ISNULL([Contract__c].Billing_Contact__c)),
          NOT(ISBLANK([Contract__c].Billing_Contact__c)),
          NOT(ISCHANGED([Contract__c].Bill_To__c)),
          NOT(ISNULL([Contract__c].Bill_To__c)),
          [Contract__c].Bill_To__c = [Contract__c].Billing_Contact__c.Account.Id)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(TEXT({!myVariable_current.Line_of_Business__c}) = &apos;FVA&apos;,
          ISCHANGED({!myVariable_current.Billing_Contact__c}),
          NOT(ISNULL({!myVariable_current.Billing_Contact__c})),
          NOT(ISBLANK({!myVariable_current.Billing_Contact__c})),
          NOT(ISCHANGED({!myVariable_current.Bill_To__c})),
          NOT(ISNULL({!myVariable_current.Bill_To__c})),
          {!myVariable_current.Bill_To__c} = {!myVariable_current.Billing_Contact__r.Account.Id})</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(TEXT([Contract__c].Line_of_Business__c) = &apos;CF&apos;,
          ISCHANGED([Contract__c].Billing_Contact__c),
          NOT(ISNULL([Contract__c].Billing_Contact__c)),
          NOT(ISBLANK([Contract__c].Billing_Contact__c)),
          NOT(ISCHANGED([Contract__c].Bill_To__c)),
          NOT(ISNULL([Contract__c].Bill_To__c)),
          [Contract__c].Bill_To__c = [Contract__c].Billing_Contact__c.Account.Id)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(TEXT({!myVariable_current.Line_of_Business__c}) = &apos;CF&apos;,
          ISCHANGED({!myVariable_current.Billing_Contact__c}),
          NOT(ISNULL({!myVariable_current.Billing_Contact__c})),
          NOT(ISBLANK({!myVariable_current.Billing_Contact__c})),
          NOT(ISCHANGED({!myVariable_current.Bill_To__c})),
          NOT(ISNULL({!myVariable_current.Bill_To__c})),
          {!myVariable_current.Bill_To__c} = {!myVariable_current.Billing_Contact__r.Account.Id})</expression>
    </formulas>
    <interviewLabel>Contract_Billing_Contact_Change-3_InterviewLabel</interviewLabel>
    <label>Contract Billing Contact Change</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Contract__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract__c</objectType>
    </variables>
</Flow>
