force-app/main/default/flows/Engagement_Counterparty_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_email</name>
        <label>send email</label>
        <locationX>264</locationX>
        <locationY>1118</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Selected_Contacts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailSelected.HtmlValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Selected_Contacts.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSelected.Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Update_Mergefield</name>
        <label>Update Mergefields</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>emailSelected.HtmlValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecipientName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>send_email</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>email_template</name>
        <dataType>String</dataType>
        <displayField>Subject</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FolderId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00l53000000M2U4AAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>EmailTemplate</object>
        <outputAssignments>
            <assignToReference>emailSelected.Body</assignToReference>
            <field>Body</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>emailSelected.HtmlValue</assignToReference>
            <field>HtmlValue</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>emailSelected.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>emailSelected.Subject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <sortField>Subject</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Subject</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>email_template_c</name>
        <dataType>String</dataType>
        <displayField>Email_Subject__c</displayField>
        <object>Email_Template__c</object>
        <outputAssignments>
            <assignToReference>emailSelected.Subject</assignToReference>
            <field>Email_Subject__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>emailSelected.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>emailSelected.Body</assignToReference>
            <field>Template_Body__c</field>
        </outputAssignments>
        <valueField>Email_Subject__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>RecipientName</name>
        <dataType>String</dataType>
        <expression>Substitute({!emailSelected.HtmlValue}, &quot;{{{Recipient.Name}}}&quot;, {!Selected_Contacts.Name})</expression>
    </formulas>
    <interviewLabel>Engagement Counterparty Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Engagement Counterparty Emails</label>
    <loops>
        <name>Selected_Contacts</name>
        <label>Selected Contacts</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <collectionReference>EngCounterpContacts.selectedRecordsOut</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Mergefield</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>All_Contacts</name>
        <label>All Contacts</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_contacts_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EngagementFullID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Engagement.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Engagement_Counterparty_Contact__c</object>
        <sortField>Counterparty__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Contacts_with_Emails</name>
        <label>Contacts with Emails</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>select_contacts_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EngagementFullID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Engagement.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactEmail__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Engagement_Counterparty_Contact__c</object>
        <sortField>Counterparty__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>All_contacts_screen</name>
        <label>All contacts screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contacts_with_Emails</targetReference>
        </connector>
        <fields>
            <name>Header1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;All Engagement Counterparty Contacts&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>all_contacts_table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Engagement_Counterparty_Contact__c</typeValue>
            </dataTypeMappings>
            <extensionName>Tigerface2:flowDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Engagement_Counterparty_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortMode</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Counterparty__c,Contact__c,ContactEmail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordList</name>
                <value>
                    <elementReference>All_Contacts</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Send Email to Specific Contacts</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>select_contacts_screen</name>
        <label>select contacts screen</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Email_Template</targetReference>
        </connector>
        <fields>
            <name>Header2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Engagement Counterparty Contacts with Emails&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EngCounterpContacts</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Engagement_Counterparty_Contact__c</typeValue>
            </dataTypeMappings>
            <extensionName>Tigerface2:flowDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Engagement_Counterparty_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordList</name>
                <value>
                    <elementReference>Contacts_with_Emails</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Counterparty__c,Contact__c,ContactEmail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortMode</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfLazyRecordsMobile</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableMode</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <stringValue>012000000000000AAA</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Email_Template</name>
        <label>Select Email Template</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>View_and_Send_Email_Template</targetReference>
        </connector>
        <fields>
            <name>Header3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select Email Template&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_Templates</name>
            <choiceReferences>email_template</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue></stringValue>
            </defaultValue>
            <fieldText>Email Templates</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>label1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Engagement Counterparty Contacts Selected&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EngCounterpContactsSelected</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Engagement_Counterparty_Contact__c</typeValue>
            </dataTypeMappings>
            <extensionName>Tigerface2:flowDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Engagement_Counterparty_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordList</name>
                <value>
                    <elementReference>EngCounterpContacts.selectedRecordsOut</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortMode</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Counterparty__c,Contact__c,ContactEmail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxTableHeight</name>
                <value>
                    <numberValue>150.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>View_and_Send_Email_Template</name>
        <label>View and Send Email Template</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Contacts</targetReference>
        </connector>
        <fields>
            <name>Header4</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Send Email&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SubjectLabel</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Email Subject:&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; {!emailSelected.Subject}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BodyLabel</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Email Body:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectedEmail</name>
            <fieldText>&lt;p&gt;{!emailSelected.HtmlValue}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>long_text</name>
            <defaultValue>
                <stringValue>{!emailSelected.HtmlValue}</stringValue>
            </defaultValue>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Label2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Engagement Counterparty Contacts Selected&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>selectedcontactsCopy</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Engagement_Counterparty_Contact__c</typeValue>
            </dataTypeMappings>
            <extensionName>Tigerface2:flowDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Engagement_Counterparty_Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortMode</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordList</name>
                <value>
                    <elementReference>EngCounterpContacts.selectedRecordsOut</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Counterparty__c,Contact__c,ContactEmail__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxTableHeight</name>
                <value>
                    <numberValue>150.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>All_Contacts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>emailSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>Engagement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Engagement__c</objectType>
    </variables>
</Flow>
