force-app/main/default/flows/PitchFAAwardedAutoPopulate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>isChangedDecision2_myRule_1_PitchOutcome_c</name>
        <label>isChangedDecision2_myRule_1_PitchOutcome_c</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>isChangedRule_2_myRule_1_PitchOutcome_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>myVariable_old.PitchOutcome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>myVariable_current.PitchOutcome__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>isChangedRule_2_myRule_1_PitchOutcome_c</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>(1 OR (2 AND 3 AND 8)) AND 4 AND (5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Account</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.FAAwarded__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideReferenceTo</name>
                    <value>
                        <stringValue>Account</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>ID</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.FAAwarded__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.FAAwardedRecordType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Houlihan_Company</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.PrimaryOffice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.PitchOutcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HL Awarded no pitch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.PitchOutcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HL Awarded w/non-competitive pitch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.PitchOutcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HL Awarded after competitive pitch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>isChangedRule_2_myRule_1_PitchOutcome_c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Outcome 1-3</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([Pitch__c].PrimaryOffice__c, 
&quot;AM&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyAM.CompanyID__c, 
&quot;AT&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyAT.CompanyID__c, 
&quot;BE&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyBE.CompanyID__c, 
&quot;BO&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyBO.CompanyID__c, 
&quot;CH&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyCH.CompanyID__c, 
&quot;DA&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyDA.CompanyID__c, 
&quot;DB&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyDB.CompanyID__c, 
&quot;DC&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyDC.CompanyID__c, 
&quot;FF&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyFF.CompanyID__c, 
&quot;HK&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyHK.CompanyID__c, 
&quot;HO&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyHO.CompanyID__c, 
&quot;LA&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyLA.CompanyID__c, 
&quot;LO&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyLO.CompanyID__c, 
&quot;MD&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyMD.CompanyID__c, 
&quot;MI&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyMI.CompanyID__c, 
&quot;ML&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyML.CompanyID__c, 
&quot;MN&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyMN.CompanyID__c, 
&quot;NB&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyNB.CompanyID__c, 
&quot;NY&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyNY.CompanyID__c, 
&quot;PA&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyPA.CompanyID__c, 
&quot;RO&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyRO.CompanyID__c, 
&quot;SF&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeySF.CompanyID__c, 
&quot;SG&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeySG.CompanyID__c, 
&quot;SY&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeySY.CompanyID__c, 
&quot;TK&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyTK.CompanyID__c, 
&quot;ZG&quot;, $CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyZG.CompanyID__c, 
$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyLA.CompanyID__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_5215363745</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.PrimaryOffice__c}, 
&quot;AM&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyAM.CompanyID__c}, 
&quot;AT&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyAT.CompanyID__c}, 
&quot;BE&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyBE.CompanyID__c}, 
&quot;BO&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyBO.CompanyID__c}, 
&quot;CH&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyCH.CompanyID__c}, 
&quot;DA&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyDA.CompanyID__c}, 
&quot;DB&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyDB.CompanyID__c}, 
&quot;DC&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyDC.CompanyID__c}, 
&quot;FF&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyFF.CompanyID__c}, 
&quot;HK&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyHK.CompanyID__c}, 
&quot;HO&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyHO.CompanyID__c}, 
&quot;LA&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyLA.CompanyID__c}, 
&quot;LO&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyLO.CompanyID__c}, 
&quot;MD&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyMD.CompanyID__c}, 
&quot;MI&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyMI.CompanyID__c}, 
&quot;ML&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyML.CompanyID__c}, 
&quot;MN&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyMN.CompanyID__c}, 
&quot;NB&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyNB.CompanyID__c}, 
&quot;NY&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyNY.CompanyID__c}, 
&quot;PA&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyPA.CompanyID__c}, 
&quot;RO&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyRO.CompanyID__c}, 
&quot;SF&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeySF.CompanyID__c}, 
&quot;SG&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeySG.CompanyID__c}, 
&quot;SY&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeySY.CompanyID__c}, 
&quot;TK&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyTK.CompanyID__c}, 
&quot;ZG&quot;, {!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyZG.CompanyID__c}, 
{!$CustomMetadata.HoulihanOfficeCodeIDs__mdt.HoulihanLokeyLA.CompanyID__c})</expression>
    </formulas>
    <interviewLabel>PitchFAAwardedAutoPopulate-2_InterviewLabel</interviewLabel>
    <label>Pitch - FA Awarded - Auto-Populate</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Pitch__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Pitch__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Set FA Awarded - HL Company</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>FA Awarded</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>FAAwarded__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_5215363745</elementReference>
            </value>
        </inputAssignments>
        <object>Pitch__c</object>
    </recordUpdates>
    <startElementReference>isChangedDecision2_myRule_1_PitchOutcome_c</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Pitch__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Pitch__c</objectType>
    </variables>
</Flow>
